.findMember-container{
	width:50%;
	padding-top:50px;
	margin:auto;
}

.name-email-box{
	width:98%;
	height:150px;
	background:#E9EFF1;
	display:flex;
	margin-top:10px;
	justify-content:space-between;
	align-items:center;
	padding:0 50px;
}

.name-email-title{
	display:flex;
	flex-direction:column;
	width:100px;
}

.name-email-input{
	display:flex;
	flex-direction:column;
}

.id-name-box{
	width:98%;
	height:200px;
	background:#E9EFF1;
	display:flex;
	margin-top:10px;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.name-email-btn{
	width:67px;
	height:67px;
	background:#112579;
	border:none;
	color:#fff;
	font-weight:700;
	font-size:17px;
}