.allList-main{
	width:90%;
	margin-top:30px;
	margin-left:5%;
}

.move-page-btn{
	width:100%;
	padding:20px 30px;
	font-size:25px;
	font-family:home-name;
	display:flex;	
	justify-content:space-between;
}

.move-newTitle{
	background:#fff;
	border:none;
}

.move-expense{
	background:#fff;
	border:none;
}

.allListTitle{
	width:100%;
	text-align:center;
	font-family:home-name;
	font-size:50px;
	margin-top:10px;
}

.select-list{
	text-align:right;
	width:95%;
}

.allList{
	padding-bottom:20px;
}

.allList-item{
	width:90%;
	margin-left:5%;
	margin-top:20px;
	margin-bottom:20px;
	border:2px solid #E0DDDD;
	border-radius:20px;
	padding:20px 30px;
	cursor:pointer;
}

.allList-item:hover{
	border:2px solid var(--color-main);
}

.allList-title{
	font-family:home-name;
	font-size:40px;
	color:var(--color-main);
}

.allList-date{
	font-size:20px;
	width:100%;
	display:flex;
	margin-top:10px;
}

.allList-friends{
	font-size:20px;
	margin-top:10px;
	width:100%;
	display:flex;
}