.allList-main{
	width:90%;
	margin-top:30px;
	margin-left:5%;
}

.move-page-btn{
	width:100%;
	padding:20px 30px;
	font-size:25px;
	font-family:home-name;
	display:flex;	
	justify-content:space-between;
}

.move-newTitle{
	background:#fff;
	border:none;
}

.move-expense{
	background:#fff;
	border:none;
}

.allListTitle{
	width:100%;
	text-align:center;
	font-family:home-name;
	font-size:50px;
	margin-top:10px;
}

.select-list{
	text-align:right;
	width:95%;
}

.search-icon{
	cursor:pointer;
}

.allList{
	padding-bottom:20px;
}

.allList-item{
	width:90%;
	margin-left:5%;
	margin-top:20px;
	margin-bottom:20px;
	border:2px solid #E0DDDD;
	border-radius:20px;
	padding:20px 30px;
	cursor:pointer;
}

.allList-item:hover{
	border:2px solid var(--color-main);
}

.item-title{
	font-family:home-name;
	font-size:40px;
	color:var(--color-main);
}

.item-status{
	margin-left:10px;
	padding:5px 10px;
	border-radius:20px;
	background:#81CA6D;
	color:#fff;
	font-weight:700;
}

.allList-date{
	font-size:20px;
	width:100%;
	display:flex;
	margin-top:10px;
}

.allList-friends{
	font-size:20px;
	margin-top:10px;
	width:100%;
	display:flex;
}

.friends{
	width:87%;
}

.pagination-allList{
	width:100%;
	justify-content:center;
	padding-bottom:30px;
}

.pagination li a.page-link{
    color:#1e1e1e;
    font-size:20px;
    font-weight:500;
    line-height:35px;
    height:35px;
    width:35px;
    margin:5px 8px;
    border-radius: 50%;
    border: none;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background-color:var(--color-main);
}