.expenses-main{
	width:90%;
	margin-top:30px;
	margin-left:5%;
}

.move-page-btn{
	width:100%;
	padding:20px 30px;
	font-size:25px;
	font-family:home-name;
	display:flex;	
	justify-content:space-between;
}

.move-newTitle{
	background:#fff;
	border:none;
}

.move-allList{
	background:#fff;
	border:none;
}

.expensesTitle{
	width:100%;
	text-align:center;
	font-family:home-name;
	font-size:50px;
	margin-top:10px;
}

.select-list{
	text-align:right;
	width:95%;
}

.expenses-item{
	width:90%;
	margin-left:5%;
	margin-top:20px;
	border:2px solid #E0DDDD;
	border-radius:20px;
	padding:20px 30px;
	cursor:pointer;
}

.expenses-item:hover{
	border:2px solid var(--color-main);
}

.expenses-title{
	font-family:home-name;
	font-size:40px;
	color:var(--color-main);
}

.expenses-date{
	font-size:20px;
	width:100%;
	display:flex;
	margin-top:10px;
}

.total-expenses{
	font-size:22px;
	margin-top:20px;
	width:100%;
	display:flex;
	justify-content:right;
	font-family:home-name;
}

.nation-price{
	color:var(--color-main);
	margin-left:20px;
}