.receipt-main{
	width:90%;
	margin-top:30px;
	margin-left:5%;
}

.title{
	width:100%;
	text-align:center;
	font-family:home-name;
	font-size:50px;
	border-bottom:3px solid #1e1e1e;
	padding-bottom:10px;
}

.date{
	width:100%;
	text-align:center;
	font-size:25px;
	padding:10px;
	border-bottom:2px solid #1e1e1e;
}

.days{
	width:100%;
	padding:30px 30px;
	font-size:20px;
}

.exchange-rate{
	padding-bottom:50px;
}

.add-rate-btn{
	cursor:pointer;
}

.add-r-content{
	display:none;
	font-size:15px;
}

.add-rate{
	width:70%;
	margin-left:15%;
	border:3px solid #E0DDDD;
	border-radius:10px;
	margin-top:30px;
	display:flex;
	align-items:center;
	padding:20px 20px;
	justify-content:center;
}


.price-list > select{
	height:27px;
}

.rate-add-price{
	border:none;
	border-bottom:1px solid #1e1e1e;
	margin-left:10px;
}

.save-rate-btn{
	border:none;
	margin-left:10px;
	border-radius:10px;
	padding:5px 5px;
}

.cancel-rate-btn{
	border:none;
	margin-left:5px;
	border-radius:10px;
	padding:5px 5px;
}

.rate-list{
	width:90%;
	margin-left:5%;
	margin-top:20px;
}

.rate-items{
	width:100%;
	margin-top:10px;
	display:flex;
}

.rate-items > i{
	width:5%;
	line-height:30px;
	text-align:center;
	cursor:pointer;
}

.rate-items > span{
	margin-left:2%;
	width:73%;
}

.adv-price{
	padding-bottom:50px;
}

.adv-list{
	width:90%;
	margin-left:5%;
	margin-top:20px;
}

.adv-items{
	width:100%;
	margin-top:10px;
	display:flex;
}

.adv-items > span{
	width:80%;
}

.day{
	padding-bottom:50px;
}

.receipt-list{
	width:90%;
	margin-left:5%;
	margin-top:20px;
}

.receipt-items{
	width:100%;
	margin-top:10px;
	display:flex;
}

.receipt-items > span{
	width:80%;
}

.price{
	width:20%;
}

.total-price{
	border-top:3px solid #1e1e1e;
	display:flex;
	padding-top:20px;
	font-size:30px;
	font-family:home-name;
	justify-content:space-between;
}